@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.x-scroller {
  overflow-x: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 534px;
  scroll-behavior: smooth;
}
